@import "../css/fonts.css";
@import "../css/var.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 944px;
}

/* header */
.menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 44px;
}

.logo {
  margin: 0;
}

.logo__link {
  font-family: var(--logo-ff);
  color: var(--yellow-dec-color);
  font-size: 26px;
  line-height: 41px;
  text-decoration: none;
}

.menu__list,
.services__list,
.contacts-form__list {
  display: flex;
  list-style: none;
}

.menu__list {
  justify-content: space-between;
  flex-basis: 484px;
  align-items: center;
  text-transform: uppercase;
}

.menu__link {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--menu-link-ff);
  font-size: 14px;
  text-transform: uppercase;
  transition: color 200ms linear;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--yellow-dec-color);
  transition: color 200ms linear;
}

/* services */
.services-box {
  padding-bottom: 118px;
}

.services-box__title {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.title {
  margin-bottom: 6px;
  text-decoration: none;
  font-family: var(--title-ff);
  font-size: 40px;
  text-transform: uppercase;
}

.services__title {
  color: var(--main-text-color);
}
.title__descr {
  font-family: var(--subtitle-ff);
  font-size: 16px;
  color: var(--light-text-color);
  text-align: center;
}
.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 202px;
}

.services__item {
  display: flex;
  flex-basis: 290px;
  height: 100%;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.services__item::before {
  content: "";
  height: 76px;
  width: 76px;
  border: 3px solid var(--yellow-dec-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto 20px;
}

.services__item:first-of-type::before {
  background-image: url(../img/basket.png);
}

.services__item:nth-child(n + 2)::before {
  background-image: url(../img/laptop.png);
}

.services__item:nth-child(n + 3)::before {
  background-image: url(../img/locked.png);
}

.services__subject {
  margin-bottom: 16px;
  font-family: var(--title-ff);
  font-size: 18px;
  color: var(--main-text-color);
  text-transform: capitalize;
}

.services__descr {
  font-family: var(--descr-ff);
  font-size: 14px;
  color: var(--light-text-color);
}

/* contacts */
.contacts-bc-box {

  background-color: #222222;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: bottom 20px right;
  
}
.contacts-box {
  padding: 101px 0 115px;
}

.contacts-title-box {
  width: 294px;
  margin: 0 auto 154px;
  text-align: center;
  flex-wrap: wrap;
}

.contacts__title {
  color: rgb(255, 255, 255);
}
.contacts-form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts-form__list {
  display: flex;
  flex-flow: column;
  margin-bottom: 30px;
  max-width: calc(50% - 14px);
  width: 100%;
}

.contacts-form__item:not(:last-child) {
  margin-bottom: 30px;
  }

.contacts-form,
.clients-message-form {
  width: 100%;
  padding: 16px 22px;
  border-radius: 2px;
  font-family: var(--title-ff);
  font-size: 16px;
  color: var(--light-text-color);
  border: 0px;
}

.clients-message-form {
  max-width: calc(50% - 14px);
  width: 100%;
  height: 213px;
  resize: none;
  margin-bottom: 30px;
}

.contacts-form:focus:valid,
.clients-message-form:focus:valid {
  outline: 2px solid green;
}
.contacts-form:focus:invalid,
.clients-message-form:focus:invalid {
  outline: 2px solid red;
}

.contacts-form::placeholder,
.clients-message-form::placeholder {
  font-family: var(--title-ff);
  font-size: 14px;
  color: var(--placeholder-text-color);
  text-transform: uppercase;
}
.btn {
  margin: 0 auto;
  padding: 22px 45px;
  width: 240px;
  font-family: var(--title-ff);
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: var(--yellow-dec-color);
  outline: none;
  cursor: pointer;
  transition: all 200ms linear;
}

.btn:hover {
  background-color: var(--light-text-color);
  transition: all 200ms linear;
}
