@import '../helpers/variables.scss';
@import '../helpers/placeholders.scss';

.email-form {
  display: flex;
  justify-content: flex-end;
}

.email-form__field {
  width: 228px;
  padding-left: 13px;
  color: $main-text-color;
  font-family: $title-ff;
  border: 1px solid rgb(229, 229, 229);
  outline: none;

  &::placeholder {
    color: rgb(204, 204, 204);
    font-family: $text-ff;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    text-transform: capitalize;
   
  }
}

.email-form__btn {
  @extend %btn;
  padding: 13px 34px;
  flex-basis: 160px;
  background-color: $green-dec-color;
  font-family: $title-ff;
  font-size: 14px;
  text-transform: uppercase;
  color: $light-text-color;

  &:hover {
    transform: scale(1.1, 1.1);
    transition: all 200ms linear;
  }
}

