@media screen and (max-width: 767px) {
  /* general */
  .general-box {
    padding-top: 34px;
    padding-bottom: 134px;
  }

  .general-header {
    margin-bottom: 26px;
  }

  .header-nav {
    padding-bottom: 122px;
  }

  .general-title {
    margin-bottom: 10px;
  }

  .general-subtitle {
    margin-bottom: 14px;
  }

  .general__link,
  .partners__link {
    padding: 12px 0;
    width: 280px;
  }

  /* partners */
  .partners-box {
    padding-top: 66px;
    padding-bottom: 56px;
  }

  .partners__list {
    padding: 18px 0 28px;
  }

  .partners__item:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 768px) {
  /* general */
  .general-box {
    padding-top: 48px;
    padding-bottom: 234px;
  }

  .general-header {
    padding-bottom: 152px;
  }

  .general-title,
  .general-subtitle {
    margin-bottom: 36px;
  }

  .general-title {
    font-size: 52px;
  }
 
  .general-subtitle {
    font-size: 24px;
  }

  .general__link,
  .partners__link {
    padding: 12px 10px;
  }

  .general__link {
    width: 224px;
  }

  /* partners */
  .partners-box {
    padding: 74px 98px 40px;
  }

  .partners__list {
    padding: 36px 0 38px;
  }

  .partners__item:nth-child(3n) {
    order: 2;
  }

  .partners__item:nth-child(2n) {
    order: 3;
  } 
  .partners__link {
    width: 194px;
  }
}

@media screen and (min-width: 768px) and (max-width: 939px) {
  .partners__item:nth-child(-n + 1),
  .partners__item:nth-child(3n) {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 940px) {
  .partners-box {
    padding-top: 68px;
    padding-bottom: 72px;
  
  }
}
